
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  border: solid black 0px;
}

html {
  width: 100%;
  height: 100%;
  background: rgb(194, 194, 194);
}

body {
  width: 100%;
  height: 100%;
  padding: 10px;

  display: flex;
  justify-content: space-evenly;
}

h1 {
  padding: 20px;
  font-size: 20px;
}

h2 {
  padding: 5px;
  font-size: 10px;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

input {
  width: 80px;
  margin: 5px;
}

#input-items-container {
  display: flex;
  flex-flow: column nowrap;
}

.input-item {  
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 3px;
}

button {
  margin: 5px;
  width: 50%;
  height: 150px;
}

button:hover {
  animation-name: button-color-green;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

}

.item-h-hem, .item-v-hem-sup, .item-v-hem-inf {
  width: 20px;
}

.btn-switch-dimensions {
  margin: 5px;
  width: 20px;
  height: 1rem;
  font-size: .7rem;
}

.btn-delete {
  margin: 5px;
  width: 20px;
  height: 1rem;
  font-size: .7rem;
  text-decoration: solid;
  color:rgb(255, 30, 0);
}

.btn-duplicate {
  margin: 5px;
  width: 40px;
  height: 1rem;
  font-size: .7rem;
}

.btn-delete:hover {
  background:rgb(186, 255, 188);
  animation-name: button-color-red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#button-send-sub-optimal {
  margin: 5px;
  height: 50px;
}

#btn-add-items, #items-to-add {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  text-align: center;
}

#items-to-add {
  font-size: 1.5em;
}

@keyframes button-color-green {
  to {    
    background:rgb(110, 255, 115);
  }
}
@keyframes button-color-red {
  to {
    background:rgb(255, 104, 84);
  }
}
#btn-submit {
  width: 50%;
  height: 50px;
}

#btn-exportPDF {
  width: 50%;
  height: 50px;
}

#btn-randomize {
  width: 50%;
  height: 50px;
}

#btn-switch-all {  
  width: 50%;
  height: 40px;

}

#input-frame {
  border-left: solid black 1px;
  border-right: solid black 1px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 20px;

}

#input-pieces-type-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 20px;
}

input[type=radio] {
  width: 30px;
}

#input-add-items-container {
  display: flex;
  flex-flow: row nowrap;
}

#algorithm-config-container {
  margin: 15px;
}

#items-to-place {
  border-left: solid black 1px;
  border-right: solid black 1px;
  max-width: 350px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 20px;
}

#items-preview-container {

}

.input-shape {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .7em;
  text-align: center;
}













/*
*   !!!!! CAREFUL !!!!!
*
*   This section is hard coded in DOMManager.exportForPrinting().
*   Any change made below this point must be made inside there too.
*
*/

#output-frame {
  border-left: solid black 1px;
  border-right: solid black 1px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  padding: 20px;
}

#output-sorted-shapes-container {
  padding: 10px;
}

#output-unplaced-items-container {
  position: relative;
}

.output-shape {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-size: .7em;
  text-align: center;
}

#source-piece {
  position: relative;
  /*
  background-image: linear-gradient(45deg, #ff002f 20.83%, #ffffff 20.83%, #ffffff 50%, #ff002f 50%, #ff002f 70.83%, #ffffff 70.83%, #ffffff 100%);
  background-size: 16.97px 16.97px;
  */
  background-color: rgb(255, 255, 255);
  border: solid 1px black;
}
